
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;

}

:root {
  --mainColor: #f57224;
  --whiteColor: #fff;
  --blackColor: #000;
  --lightDark: #222;
}

body{
  font-family: 'Lato', sans-serif;
}

/* Navbar styles */


nav{
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  display:flex;
  position: fixed;
  top:0;
  background-color: #fff; 
  z-index: 999;
}

.left{
  width:50%;
  text-align: left;
}

.left a{
  font-weight: 700;
  color: var(--mainColor);
  font-size: 21px;
}

.right{
  width: 50%;
  text-align: right;
}

nav ul{
  list-style: none;
}

nav ul a{
  text-decoration: none;
}

.shopping_cart i{
    display: inline-block;
    font-size: 25px;
    color: var(--lightDark);
    margin-right: 15px;
}

.cart_count{
  display: inline-block;
  margin-left: -10px;
  width: 35px;
  height: 35px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border-radius: 50%;
  line-height: 35px;
  text-align:center;
  font-size: 12px;
}

/* Form Styles */

.main-container {
  width: 100vw;
  height: 100vh;
  background: var(--whiteColor);
  position: relative;
}


.form-container {
  width: 60vw;
  height: 60vh;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}


#theForm {
  color: white;
  display: table;
  padding: 15px;
  margin-top: 100px;
  margin-right: px;
}

.row {
  display: table-row;
}


.row label {
  display: table-cell;
  padding: 2px;
  margin-right: 5px;
  text-align: right;
}

.row input {
  display: table-cell;
  padding: 2px;
  
}




input {
  padding: 7.5px  30px 7.5px 0;
  font-size: 20px;
  width: 500px;
  height: 40px;
}

.input1 {
  font-size: 25px;
  padding: 10px;
}

.input2 {
  font-size: 25px;
  padding: 10px;
}


.input3 {
  font-size: 25px;
  padding: 10px;
}


.button {
  font-size: 40px;
  padding: 10px;
  border-radius: 6px;
  margin: 100px;
  margin-left: 130%;
}

#button {
  padding: 10px;
  font-size: 40px;
  border-radius: 10px;
  background: lightblue;
  border: 1px solid black;
}

















/* Banner Styles */

.container{
  width: 100%;
  padding: 0 100px;
}

 header{
   width: 100%;
   background: url('./assets/background.jpg');
   height: 250px;
   margin-top: 70px;
   background-size: cover;
   background-repeat: no-repeat;
   color:white;
}

.headerText{
  background:rgba(0, 0, 0, .3);
  width: 100%;
  height: 100%;
  display:flex;
   align-items: center;
   justify-content: center;
}
.headerText h1{
  font-size: 35px;
}

.headerText p{
  margin-top: 7px;
}


/* Products Styles */


.products {
  display: flex;
  flex-wrap: wrap;
}



.product {
  width: 25%;
  padding: 0 12px;
  margin: 20px 0;

  position: relative;
}

.hot {
  position: absolute;
  top: 0;
  left: 60px;
  background: orangered;
  padding: 5px 20px;
  color: var(--whiteColor);
}

.new {
  position: absolute;
  top: 0;
  left: 60px;
  background: greenyellow;
  padding: 5px 20px;
  color: var(--whiteColor);
}


.product-image {

  height: 200px;

  margin-left: 88px
}

.product-details {
  padding: 15px 10px;
  text-align: center;
  background: var(--whiteColor);
  border-left: 1px solid #fafafa;
  border-right: 1px solid #7a7676;
  margin-top: 30px;
}

.product-name {
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
}

.product-price {
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
}
.view-details{
  background: var(--mainColor);
  padding: 10px 20px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}
.add-to-cart {
  background: var(--mainColor);
  padding: 10px 20px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}



/* Not Found Styles */

.not-found {
  margin-top: 100px;
  
}

/* Cart Styles */


.cart-container {
  width: 100%;
  margin-top: 70px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-details {
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}

.cart {
  display: flex;
  align-items: center;
  background: var(--whiteColor);
  padding: 15px 20px;
}

.cart-image {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
}

.cart-image img {
  width: 100%;
  height: 100%;
}

.cart-product-name {
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}

.cart-product-price {
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
  color: var(--mainColor);
}

.inc {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--mainColor);
  font-size: 14px;
  color: var(--mainColor);
  border-radius: 3px;
  cursor: pointer;
}

.product-quantity {
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}


.dec {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid rgba(187, 58, 58);
  font-size: 14px;
  color: rgba(187, 58, 58);;
  border-radius: 3px;
  cursor: pointer;
}

.product-total-price {
  display: inline-block;
  width: 0 170px;
  padding: 0 15px;
  text-align: center; 
}


.delete-product {
  border: none;
  color: rgba(187, 58, 58);
  cursor: pointer;
}

/* Cart Summary */

.cart-summary {
  width: 25%;
  padding: 0 0 0 20px;
  margin-top: 75px;
}

.summary {
  background: var(--whiteColor);
  padding: 13px;
  padding-bottom: 8px;
}

.summary h3 {
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #999;
}

.total-items {
  display: flex;
  margin: 15px 0;
}

.items {
  width: 50%;
  text-align: left;
  font-weight: normal;
}

.items-count {
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}


.total-price-section {
  display: flex;
  margin: 15px 0;
}

.just-title {
  width: 50%;
  text-align: left;
  font-weight: normal;
}

.items-price {
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}


@media(max-width: 950px){
  .products{
    flex-wrap: wrap;
    margin-left: -25px
  }
  .product {
   width: 100%;
  }

.product-details {
  margin-right:-100px;

    background: var(--whiteColor);
 
    border-right: 1px solid #7a7676;
    margin-top: 70px;
  }

  .headerText {
    padding: 0 100px;
  }
  .headerText h1 {
    font-size: 20px;
  }
  .cartContainer {
    flex-direction: column;
  }
  .cartDetails {
    width: 100%;
    flex-direction: column;
  }
  .summary{
    flex-direction: column;
    

  }
  .cartSummary {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }
  .cart-summary {
    width: 100%;
    flex-direction: column;
  }
  .cart {
    flex-direction: column;
  }
  
  .cartProductName {
    width: 250px;
    padding: 14px 15px;
    font-size: 14px;
    text-align: center;
  }
  .cartProductPrice {
    width: 120px;
    padding: 14 15px;
    font-weight: bold;
    text-align: center;
  }
  .inc {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #222;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 0;
  }
  .productQuantity {
    display: inline-block;
    padding: 14 15px;
    font-size: 16px;
    width: 70px;
    text-align: center;
  }
  .dec {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #222;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 0;
  }
  .productTotalPrice {
    display: inline-block;
    width: 150px;
    padding: 14px 15px;
    font-weight: bold;
    color: #999;
    text-align: center;
  }
}




@media(max-width: 500px){
  .products{
    flex-wrap: wrap;
  }
  .product {
   width: 90%;
  }
  
  .headerText {
    padding: 0 100px;
  }
  .headerText h1 {
    font-size: 20px;
  }
  .cartContainer {
    flex-direction: column;
  }
  .cartDetails {
    width: 100%;
    flex-direction: column;
  }
  .summary{
    flex-direction: column;
    

  }
  .cartSummary {
    width: 50%;
    margin-top: -5px;
  
  }
  .cart-summary {
    width: 100%;
    flex-direction: column;
  }
  .cart {
    flex-direction: column;
  }
  .left{
    width:15%;
    text-align: left;
  }
  
.nav{
  margin-left: -10px;
}
  
  .center{
    display: none;
  }
  .right{
    margin-left: 40px;

  }
  .left{
    margin-left: -40px;
  }
  .shopping_cart i{
    display: inline-block;
    font-size: 20px;
    color: var(--lightDark);
    margin-right: 10px;
}

.cart_count{
  display: inline-block;
  margin-left: -10px;
  width: 24px;
  height: 24px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border-radius: 50%;
  line-height: 24px;
  text-align:center;
  font-size: 16px;
}
  
  .cartProductName {
    width: 250px;
    padding: 14px 15px;
    font-size: 14px;
    text-align: center;
  }
  .cartProductPrice {
    width: 120px;
    padding: 14 15px;
    font-weight: bold;
    text-align: center;
  }
  .inc {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #222;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 0;
  }
  .productQuantity {
    display: inline-block;
    padding: 14 15px;
    font-size: 16px;
    width: 70px;
    text-align: center;
  }
  .dec {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #222;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 0;
  }
  .productTotalPrice {
    display: inline-block;
    width: 150px;
    padding: 14px 15px;
    font-weight: bold;
    color: #999;
    text-align: center;
  }
  .product-image {

    height: 160px;
  
    margin-left: -49px
  }
}


.product-details {
margin-left:1px;
text-align: center;
  background: var(--whiteColor);
  border-left: 1px solid #7a7676;
  border-right: 1px solid #7a7676;
  margin-top: 70px;
}


.product-name{
  margin-left:-10px;
}










